
@{
    ViewBag.Title = "Forgotpass";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="~/assets/css/forgotpass.css">
</head>
<body>
    <div class="pw-box">
        <div class="pw-header">
            <header>Forgot Password</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" autocomplete="off" required>
            <div class="input-submit">
                <button class="submit-button" id="submit"></button>
                <label for="submit">Send</label>
            </div>
        </div>
    </div>
</body>
</html>