@{
    ViewBag.Title = "The Purist Club";
}

<link href="~/assets/css/shop.css" />
<div class="container">
    <div class="inner">
        <div id="div-pro-list">
            <link rel="stylesheet" href="stylespro.css">
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202106/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition.jpg"
                     onmouseover="this.src='https://thepuristsclub.com/images/202106/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition-2/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition-2.jpg'"
                     onmouseout="this.src='https://thepuristsclub.com/images/202106/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition/the-symphony-ii-mg-has-z65-57-18-145-rx-limited-edition.jpg'"
                     title="THE SYMPHONY II MG-HAS-Z65 57-18-145 RX - Limited Edition" />
                <div class="box-description">
                    <p class="margin-top">THE SYMPHONY II MG-HAS-Z65 57-18-145 RX - Limited Edition</p>
                    <p class="margin-des">75.000.000 VNĐ</p>
                </div>
            </div>
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202106/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition.jpg"
                     onmouseout="this.src='https://thepuristsclub.com/images/202106/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition.jpg'"
                     onmouseover="this.src='https://thepuristsclub.com/images/202106/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition-2/the-artist-iii-g-has-z25-56-18-140-rx-limited-edition-2.jpg'"
                     title="THE ARTIST III G-HAS-Z25 RX Limited Edition" />
                <div class="box-description">
                    <p class="margin-top">THE ARTIST III G-HAS-Z25 RX Limited Edition</p>
                    <p class="margin-des">68.000.000 VNĐ</p>
                </div>
            </div>
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202209/z371540078575012becf7e63defdd98e3647453ec230a9/z371540078575012becf7e63defdd98e3647453ec230a9.jpg"
                     onmouseout="this.src='https://thepuristsclub.com/images/202209/z371540078575012becf7e63defdd98e3647453ec230a9/z371540078575012becf7e63defdd98e3647453ec230a9.jpg'"
                     onmouseover="this.src='https://thepuristsclub.com/images/202209/z3715400828099ce4a000e3afd3c23cd412e497fdd826b/z3715400828099ce4a000e3afd3c23cd412e497fdd826b.jpg'"
                     title="QUEEN, A NIGHT AT THE OPERA - Fountain Pen / ISNON SR" />
                <div class="box-description">
                    <p class="sold-out">SOLD OUT</p>
                    <p class="margin-top">QUEEN, A NIGHT AT THE OPERA - Fountain Pen / ISNON SR</p>
                    <p class="margin-des">131.500.000 VNĐ</p>
                </div>
            </div>
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202209/lord-of-the-ring-middle-earth-fountain-pen-1/lord-of-the-ring-middle-earth-fountain-pen-1.jpg"
                     onmouseout="this.src='https://thepuristsclub.com/images/202209/lord-of-the-ring-middle-earth-fountain-pen-1/lord-of-the-ring-middle-earth-fountain-pen-1.jpg'"
                     onmouseover="this.src='https://thepuristsclub.com/images/202209/lord-of-the-ring-middle-earth-fountain-pen-3/lord-of-the-ring-middle-earth-fountain-pen-3.jpg'"
                     title="Lord Of The Ring - Middle Earth / Fountain Pen" />
                <div class="box-description">
                    <p class="sold-out">SOLD OUT</p>
                    <p class="margin-top">Lord Of The Ring - Middle Earth / Fountain Pen</p>
                    <p class="margin-des">15.300.000 VNĐ</p>
                </div>
            </div>
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202209/slytherin/slytherin.jpg"
                     onmouseover="this.src='https://thepuristsclub.com/images/202209/slytherin-3/slytherin-3.jpg'"
                     onmouseout="this.src='https://thepuristsclub.com/images/202209/slytherin/slytherin.jpg'"
                     title="Harry Porter - Slytherin / Rollerball" />
                <div class="box-description">
                    <p class="sold-out">SOLD OUT</p>
                    <p class="margin-top">Harry Porter - Slytherin / Rollerball</p>
                    <p class="margin-des">10.000.000 VNĐ</p>
                </div>
            </div>
            <div class="box-pro">
                <img class="size-img" img src="https://thepuristsclub.com/images/202106/the-informer-i-chgb-waz-z25-53-21-145-rx-2/the-informer-i-chgb-waz-z25-53-21-145-rx-2.jpg"
                     onmouseover="this.src='https://thepuristsclub.com/images/202106/the-informer-i-chgb-waz-z25-53-21-145-rx/the-informer-i-chgb-waz-z25-53-21-145-rx.jpg'"
                     onmouseout="this.src='https://thepuristsclub.com/images/202106/the-informer-i-chgb-waz-z25-53-21-145-rx-2/the-informer-i-chgb-waz-z25-53-21-145-rx-2.jpg'"
                     title="THE INFORMER I CHGB-WAZ-Z25 Rx" />
                <div class="box-description">
                    <p class="margin-top">THE INFORMER I CHGB-WAZ-Z25 Rx</p>
                    <p class="margin-des">55.000.000 VNĐ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="inner">
        <h1>Blog</h1>
        <main>
            <div class="card">
                <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                <div class="date">20/09/2023</div>
                <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
            </div>
            <div class="box">
                <div style="margin-bottom:11px;" class="card-left underline">
                    <div class="box box1">
                        <img title="Rigards x Boris Bidjan Sabrei" src="https://thepuristsclub.com/images/202308/rigards-x-boris-bidjan-saberi-rg1011bbs-9/rigards-x-boris-bidjan-saberi-rg1011bbs-9-300x200.jpg" alt="">
                        <div class="transform-15-13">
                            <h2>Rigards x Boris Bidjan Sabrei</h2>
                            <div class="date">01/08/2023</div>
                        </div>
                    </div>
                    <p><a>RG1011BBS - Phiên bản collab mới nhất giữa hai cá tính “dị biệt” Rigards và Boris Bidjan Saberi.</a></p>
                </div>
                <div class="card-left">
                    <div class="box box1">
                        <img title="The Purists Club x NTK Công Trí" src="https://thepuristsclub.com/images/202212/tpc-x-cong-tri-14-copy/tpc-x-cong-tri-14-copy.jpg" alt="">
                        <div class="transform-15-13">
                            <h2>The Purists Club x NTK Công Trí</h2>
                            <div class="date">13/12/2022</div>
                        </div>
                    </div>
                    <p><a>Sự kết hợp của The Purists Club và NTK Nguyễn Công Trí vào tối ngày 3/12, trong vai trò mở màn cho Aquafina Tuần lễ Thời trang Quốc tế Việt Nam. TPC đã cùng NTK Công Trí tạo nên những sắc màu độc đáo cho bộ sưu tập “Màu của Tôi”.</a></p>
                </div>
            </div>
        </main>
    </div>
</div>