<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/assets/css/blog.css" rel="stylesheet">
</head>

<div class="container-fuild">
    <div class="inner">
        <h1>Blog</h1>
        <main>
            <div class="card">
                <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                <div class="date">20/09/2023</div>
                <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
            </div>
            <div class="box">
                <div style="margin-bottom:11px;" class="card-right underline">
                    <div class="box box1">
                        <img title="Rigards x Boris Bidjan Sabrei" src="https://thepuristsclub.com/images/202308/rigards-x-boris-bidjan-saberi-rg1011bbs-9/rigards-x-boris-bidjan-saberi-rg1011bbs-9-300x200.jpg" alt="">
                        <div class="transform-15-13">
                            <h2>Rigards x Boris Bidjan Sabrei</h2>
                            <div class="date">01/08/2023</div>
                        </div>
                    </div>
                    <p><a>RG1011BBS - Phiên bản collab mới nhất giữa hai cá tính “dị biệt” Rigards và Boris Bidjan Saberi.</a></p>
                </div>
                <div class="card-right">
                    <div class="box box1">
                        <img title="Matsuda- Nét Hoa Mỹ Từ Xứ Sở Mặt Trời Mọc" src="https://thepuristsclub.com/images/202306/z3403770779246085428df83601288f6126e561cbbf710/z3403770779246085428df83601288f6126e561cbbf710.jpg" alt="">
                        <div class="transform-15-13">
                            <h2>Matsuda- Nét Hoa Mỹ Từ Xứ Sở Mặt Trời Mọc</h2>
                            <div class="date">21/06/2023</div>
                        </div>
                    </div>
                    <p><a>Trong một thế giới đề cao tính tức thời, Matsuda chọn gắn mình với thủ công truyền thống và sự chu đáo, tỉ mẩn. Bắt đầu từ những vật liệu tốt nhất và kết thúc là những cây kính Matsuda có thể được ngưỡng mộ tới suốt đời.</a></p>
                </div>
            </div>
        </main>
    </div>
    <div class="inner">

        <div class="row">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="card-right ">
                        <div class="box box1">
                            <img title="Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)" src="https://thepuristsclub.com/images/202306/ve-quyen-ru-dam-chat-phap-cua-jacques-marie-mage-jmm/ve-quyen-ru-dam-chat-phap-cua-jacques-marie-mage-jmm.jpg" alt="">
                            <div>
                                <h2>Vẻ quyến rũ đậm chất Pháp của Jacques Marie Mage (JMM)</h2>
                                <div class="date">19/06/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">
                            Là một người Pháp yêu thích miền Tây nước Mỹ và có sở thích sưu tập xe BMX, Jerome Mage đã cho ra mắt những chiếc kính mắt JMM làm rung động trái tim của tất cả những ai yêu cổ điển.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="THE PURISTS CLUB X NTK CÔNG TRÍ" src="https://thepuristsclub.com/images/202212/tpc-x-cong-tri-14-copy/tpc-x-cong-tri-14-copy.jpg" alt="">
                            <div>
                                <h2>THE PURISTS CLUB X NTK CÔNG TRÍ</h2>
                                <div class="date">13/12/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Sự kết hợp của The Purists Club và NTK Nguyễn Công Trí vào tối ngày 3/12, trong vai trò mở màn cho Aquafina Tuần lễ Thời trang Quốc tế Việt Nam. TPC đã cùng NTK Công Trí tạo nên những sắc màu độc đáo cho bộ sưu tập “Màu của Tôi”.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="PHIÊN BẢN BÚT GIỚI HẠN MONTEGRAPPA AL TARIKH YUKTAB FIFA WORLD CUP 2022" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>PHIÊN BẢN BÚT GIỚI HẠN MONTEGRAPPA AL TARIKH YUKTAB FIFA WORLD CUP 2022</h2>
                                <div class="date">23/11/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Montegrappa - Al Tarikh Yuktab World Cup 2022 Ngay sau thành công của se-ri FIFA® Classics phát hành hồi đầu tháng Ba năm nay, thương hiệu bút cao cấp lâu đời nhất Italia đã đánh dấu thời sự kiện thể thao lớn nhất hành tinh bắt đầu từ ngày 20 tháng 11 năm 2022, bằng một phiên bản giới hạn mang tên Al Tarikh Yuktab.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="KAME MANNEN – THƯƠNG HIỆU KÍNH MẮT NHẬT BẢN TRĂM NĂM TUỔI" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>
                                    KAME MANNEN – THƯƠNG HIỆU KÍNH MẮT NHẬT BẢN TRĂM NĂM TUỔI
                                </h2>
                                <div class="date">17/11/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="FRANCESCO MAGLIA – CHUYỆN VỀ NHỮNG CHIẾC Ô THƯỢNG PHẨM" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>FRANCESCO MAGLIA – CHUYỆN VỀ NHỮNG CHIẾC Ô THƯỢNG PHẨM</h2>
                                <div class="date">17/10/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Francesco Maglia là một trong những nhà sản xuất ô lâu đời nhất trên thế giới và là một trong số ít còn tồn tại tới ngày nay. Được thành lập vào năm 1854 bởi Francesco Maglia.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="MONTEGRAPPA - YEAR OF TIGER" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>MONTEGRAPPA - YEAR OF TIGER</h2>
                                <div class="date">13/10/2022</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Phiên bản bút giới hạn Year of Tiger được chế tác thủ công, giới hạn 100 chiếc trên toàn thế giới.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">“Kame” xuất phát từ tiếng Nhật có nghĩa là con rùa, trong khi “ManNen” có nghĩa là vạn năm. Những nhà sáng lập đã đặt tên cho thương hiệu theo một câu tục ngữ Nhật Bản tin tưởng vào quyết tâm của người thợ thủ công để tạo ra những chiếc kính có thể tồn tại hàng nghìn năm.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
                    </div>

                </div>
                <div class="col">
                    <div class="card-right">
                        <div class="box box1">
                            <img title="Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp" src="https://thepuristsclub.com/images/202309/kinu-grinder-m47-cropped/kinu-grinder-m47-cropped.jpg" alt="">
                            <div>
                                <h2>Kinu Germany - Niềm tự hào “cơ khí chính xác Đức” trên những chiếc cối xay cà phê cao cấp</h2>
                                <div class="date">20/09/2023</div>
                            </div>
                        </div>
                        <p style="margin-top: -2px;">Kinu trong tiếng Swahili có nghĩa là “cối xay”. Thương hiệu thuộc sở hữu của một công ty gia đình tại Đức, có truyền thống trong việc sản xuất cối xay gia vị và cà phê. Với kinh nghiệm hơn 25 năm, Kinu đã sản xuất và bán ra hơn 22 triệu cối xay cao cấp, có thể nói Kinu là một trong những công ty hiểu rất rõ về việc làm thế nào để chế tác ra một chiếc cối xay cà phê chất lượng tốt.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="see-more">
    <button class="see-more">See more</button>
</div>
</body>
</html>