
@{
    ViewBag.Title = "dealan";
    Layout = "~/Shared/_Layout";
}

<div class="container">
    <div class="inner">
        <main>
            <div class="img-col">
                <img src="https://thepuristsclub.com/images/202310/dealan-x-yellow-stone-colbrown-bearr-2/dealan-x-yellow-stone-colbrown-bearr-2.jpg" alt="">
                <img src="https://thepuristsclub.com/images/202310/dealan-brown-brear/dealan-brown-brear.png" alt="">
                <img src="https://thepuristsclub.com/images/202310/dealan-yellow-ston-brown-bear/dealan-yellow-ston-brown-bear.png" alt="">
                <img src="https://thepuristsclub.com/images/202310/dealan-x-yellow-stone-colbrown-bearr-3/dealan-x-yellow-stone-colbrown-bearr-3.jpg" alt="">
                <img src="https://thepuristsclub.com/images/202310/dealan-x-yellow-stone-colbrown-bearr-1/dealan-x-yellow-stone-colbrown-bearr-1.jpg" alt="">
            </div>
            <div>
                <div class="img--zoom">
                    <img src="https://thepuristsclub.com/images/202310/dealan-x-yellow-stone-colbrown-bearr-2/dealan-x-yellow-stone-colbrown-bearr-2.jpg">
                </div>
            </div>
            <div style="margin-right: 200px;">
                <div class="product-info">
                    <h5>Dealan x Yellow Stone col.Brown Bear</h5>
                    <div class="product-info-header">
                        <p class="product--avaliable">CODE: JMMDE-8T DEALAN BROWN BEAR |</p>
                        <p class="price">25.800.000 VNĐ </p>
                    </div>
                    <div class="product-info-main underline">
                        <p>SIZE</p>
                        <p>LENS</p>
                        <p>HANDCRAFTED IN JAPAN</p>
                        <p>LIMITED PRODUCTION OF BATCH OF 350 PIECES</p>
                    </div>
                    <div class="product-info-footer">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter icon-uncircle"></i>
                        <i class="fa-brands fa-tumblr icon-uncircle"></i>
                        <i class="fa-brands fa-pinterest"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>